body{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: deepskyblue;
}

h1{

    background-color: blueviolet;
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
}

main {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 20px;
    /* justify-content: center; */
  }
  
  .coloumn {
    border: 3px solid black;
    min-height: 200px;
    min-width: 300px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    background-color: midnightblue;
    border-radius: 25px;
    color: aqua;
  }

  h3{

    font-size: 24px;
    text-decoration: underline;
  }


  .coloumn > p {
    padding: 8px;
    text-align: center;
    background-color: cornflowerblue;
    color: black;
    font-weight: normal;
    font-size: large;
    border-radius: 10px;
  }

  input{
    padding: 10px;
    background-color: #ace3b2;
    border-radius: 15px;
  }

   
::placeholder {
  color:  black;
  opacity: 1; 
} 

input:hover {
  background-color: black;
   color: aqua; 
}